.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
   
  }
.shop__container{
    display: flex;
    grid-template-columns: 5fr, 1fr;
}
.shop__container__right{
    position: sticky;
    top: 80px;
   width: 100%;
   background: rgba(255, 153, 0, 0.3);
   height: 100vh;
   padding: 50px;
}
.shop__container__right__title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}
.shop__container__right p{
    font-size: 17px;
    margin-bottom: 25px;
}
.shop__container__right__gtotal{
    font-size: 21px;
}