.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
   
  }
.shop__container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.shop__container__right{
    position: sticky;
    top: 80px;
   width: 100%;
   background: rgba(255, 153, 0, 0.3);
   height: 100vh;
   padding: 50px;
}
