.shop__container__right__title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}
.shop__container__right p{
    font-size: 17px;
    margin-bottom: 25px;
}
.shop__container__right__gtotal{
    font-size: 21px;
}
.btn__div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.clear__cart__btn{
    width: 232px;
    height: 48px;
    background: #FF3030;
    border-radius: 4px;
    border: none;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.order__review__btn{
    width: 232px;
    height: 48px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    font-size: 17px;
    color: white;
    cursor: pointer;
}